<div class="row mb-3">
  <div class="col-1"></div>
  <div class="col-10">
    <row>
      <div class="form-header">
        <%= image_tag "logo.png" %>
        <h2 class="form-signin-heading">Authify Service</h2>
        <br>
        <% if ENV['GITHUB_KEY'] || ENV['GOOGLE_CLIENT_ID'] %>
          <% if ENV['GITHUB_KEY'] %>
            <%= link_to '/auth/github', class: 'btn btn-block btn-social btn-github thin' do %>
              <%= icon('github')  %> Login with GitHub
            <% end %>
          <% end %>
          <% if ENV['GOOGLE_CLIENT_ID'] %>
            <%= link_to '/auth/google_oauth2', class: 'btn btn-block btn-social btn-google thin' do %>
              <%= icon('google')  %> Login with Google
            <% end %>
          <% end %>
          <br>
          <h3 class="form-signin-heading">OR</h3>
        <% end %>
      </div>
    </row>
    <row>
      <%= form_for(:session, url: login_path, html: { class: 'form-signin' }) do |f| %>
        <%= f.label :email, class: 'sr-only' %>
        <%= f.email_field :email, class: 'form-control', required: true, autofocus: true, placeholder: 'email' %>
        <%= f.label :password, class: 'sr-only' %>
        <%= f.password_field :password, class: 'form-control', required: true, placeholder: 'password' %>

        <%= f.hidden_field :callback, value: @callback_url %>
        <%= f.submit "Log in", class: "btn btn-lg btn-signin btn-block" %>
      <% end %>
    </row>
    <row>
      No account yet? No problem!<br>
      <%= link_to 'Sign up', signup_path(callback: params[:callback]), class: 'orange' %> 
      <% if ENV['GITHUB_KEY'] || ENV['GOOGLE_CLIENT_ID']%>
      or login via 
        <% if ENV['GITHUB_KEY'] %>
          <%= link_to '/auth/github', class: 'orange' do %>
            <%= icon('github-alt') %> GitHub
          <% end %>
        <% end %>
        <% if ENV['GOOGLE_CLIENT_ID'] %>
          or 
          <%= link_to '/auth/google_oauth2', class: 'orange' do %>
            <%= icon('google') %> Google
          <% end %>
        <% end %>
      <% end %>
    </row>
  </div>
  <div class="col-1"></div>
</div "row mb-3">
