<div class="row mb-3">
  <div class="col-1"></div>
  <div class="col-10">
    <row>
      <div class="form-header">
        <%= image_tag "logo.png" %>
      </div>
      <%= form_for(:registration, url: register_path, html: { class: 'form-signin' }) do |f| %>
        <h2 class="form-signin-heading">Authify Service Signup</h2>
        <%= f.label :email, class: 'sr-only' %>
        <%= f.email_field :email, class: 'form-control', required: true, autofocus: true, placeholder: 'email' %>
        <%= f.label :name, class: 'sr-only' %>
        <%= f.text_field :name, class: 'form-control', required: true, placeholder: 'name' %>
        <%= f.label :password, class: 'sr-only' %>
        <%= f.password_field :password, class: 'form-control', required: true, placeholder: 'password' %>

        <%= f.hidden_field :callback, value: @callback_url %>
        <%= f.submit 'Sign up!', class: "btn btn-lg btn-success btn-block" %>
      <% end %>
    </row>
    <row>
      Already have an account?<br>
      <%= link_to 'Login', login_path(callback: params[:callback]) %>
    </row>
  </div>
  <div class="col-1"></div>
</div "row mb-3">
