          <% @identities.each do |ident| %>
          <tr>
            <td><%= icon ident.attributes[:provider] %> <%= ident.attributes[:provider] %></td>
            <td><%= ident.attributes[:uid] %></td>
            <td>
              <%= link_to '#' do %>
                <%= icon('trash') %>
              <% end %>
            </td>
          </tr>
          <% end %>
