  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:reset, url: reset_password_path, html: { class: 'form-reset-password col-12' }) do |f| %>
          <div class="input-group input-group-lg row">
            <span class="input-group-addon" id="password-addon1"><%= icon('key') %></span>
            <%= 
              f.password_field :password1,
              class: 'form-control',
              required: true, autofocus: true,
              placeholder: 'New Password',
              data: { validate_passwords: true }
            %>
          </div>
          <br/>
          <div class="input-group input-group-lg row">
            <span class="input-group-addon" id="password-addon2"><%= icon('key') %></span>
            <%= 
              f.password_field :password2,
              class: 'form-control',
              required: true, autofocus: true,
              placeholder: 'Retype Password',
              data: { validate_passwords: true }
            %>
          </div>
          <br/>
          <p>
            Requirements:<br/>
            <span id="8char" class="fa fa-remove" style="color:#ff0004;"></span> 8 Characters Long<br/>
            <span id="pwmatch" class="fa fa-remove" style="color:#ff0004;"></span> Passwords Match<br/>
          </p>
          <div class="btn-group btn-group-lg row" role="group" aria-label="Password Reset">
            <%= f.submit 'Reset', class: "btn btn-success validated-submit", disabled: true %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
