<% content_for :subject do %>
  Your Info
<% end %>
<hr>
<div class="row placeholders mb-3">
  <div class="col-lg-3 col-sm-12 placeholder text-center">
    <%= gravatar_tag @user.email, size: 120, html: { class: "center-block img-fluid rounded-circle" } %>
    <h4><%= @user.full_name %></h4>
    <small class="text-muted"><%= @user.email %></small>
  </div>
</div>
<div class="row mb-3">
  <div class="col-lg-6 col-xsm-12">
    <div class="card">
      <div class="card-header">
        Related Identities
      </div>
      <div class="card-block">
        <div class="list-group">
          <% @identities.each do |ident| %>
            <span class="list-group-item"><%= ident.attributes[:provider] %>:<%= ident.attributes[:uid] %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xsm-12">
    <div class="card">
      <div class="card-header">
        API Keys
      </div>
      <div class="card-block">
        <div class="list-group">
          <%= render 'api_keys' %>
        </div>
        <br>
        <p class="card-text">
          <%= link_to add_api_key_path, remote: true, method: :post, class: 'btn bg-orange' do %>
            <%= icon('plus') %> Add
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="apikey-modal" class="modal fade"></div>
