<% content_for :subject do %>
  Your Info
<% end %>

<div class="row placeholders mb-3">
  <div class="col-lg-6 col-sm-12 placeholder text-center">
    <%= gravatar_tag @user.email, size: 120, html: { class: "center-block img-fluid rounded-circle" } %>
    <h4><%= @user.full_name %></h4>
    <small class="text-muted"><%= @user.email %></small>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        Options
      </div>
      <div class="card-block">
        <%= link_to '#', remote: true, method: :post, class: 'btn btn-block btn-lpurple', data: { no_turbolink: true, turbolinks: false } do %>
          <%= icon('bug') %> Report a Problem
        <% end %>
        <%= link_to '#', class: 'btn btn-block bg-orange', data: { target: "#password-modal", toggle: "modal" } do %>
          <%= icon('key') %> Reset Password
        <% end %>
        <br/>
        <%= link_to '#', remote: true, method: :post, class: 'btn btn-block bg-danger', data: { no_turbolink: true, turbolinks: false } do %>
          <%= icon('close') %> Delete Account
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-lg-6 col-xsm-12">
    <div class="card">
      <div class="card-header">
        Related Identities
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Identity Provider</th>
                <th>UID</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            <%= render 'identities' %>
            </tbody>
          </table>
        </div>
        <br>
        <p class="card-text">
          <% if github_enabled? && !@identities.map {|i| i.attributes[:provider] }.include?('github') %>
            <%= link_to '/auth/github', class: 'btn btn-github' do %>
              <%= icon('github') %> Add GitHub
            <% end %>
          <% end %>
          <% if google_enabled? && !@identities.map {|i| i.attributes[:provider] }.include?('google_oath2') %>
            <%= link_to '/auth/google_oauth2', class: 'btn btn-google' do %>
              <%= icon('google') %> Add Google
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xsm-12">
    <div class="card">
      <div class="card-header">
        API Keys
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Access Key</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            <%= render 'api_keys' %>
            </tbody>
          </table>
        </div>
        <br>
        <p class="card-text">
          <%= link_to add_api_key_path, remote: true, method: :post, class: 'btn bg-orange', data: { no_turbolink: true, turbolinks: false } do %>
            <%= icon('plus') %> Add
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="apikey-modal" class="modal fade"></div>
<div id="password-modal" class="modal fade">
  <%= render 'password_reset_modal' %>
</div>
